
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light conteudo-menu ">
    <a class="navbar-brand m-3 logo" href="#" style="font-weight: bold;color: rgb(1, 93, 155); font-size: 29px; float:left">-us
<!--<img style="height: 55px;" src="assets/android-chrome-512x512.png">-->
     <img style="height: 45px;float:left" [src]="imageSrc"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-4">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Respostas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Perguntas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </nav>

  <section>
    <div class="container div-quem-somos">
      <p><span>Ask-us</span> em Português é um site de perguntas e respostas para programadores profissionais e entusiastas. Tire agora sua duvida!</p>
    </div>
  </section>

</header>

<!-------------------------------CARDS E FORMULARIO-------------------------------------------->
<!--
<section id="about-us" class="about-us">
  <div class="contenedor1">
    <h2 class="titulo-p">Perguntas Frequentes</h2>





    <div class="row  forms-div">
      <div class="col-4 mt-4  m-2 box-form">
        <div class="input-group mb-3">
          <span class="input-group-text p-1" id="basic-addon2">Assunto</span>
          <input type="text" class="form-control inputs" aria-describedby="basic-addon2">
        </div>
      </div>

      <div class="col-4 mt-4 box-form" >
        <div class="input-group mb-3">
          <span class="input-group-text p-1" id="basic-addon2">Pergunte aqui:</span>
          <input type="text" class="form-control inputs" aria-describedby="basic-addon2">
        </div>
      </div>

      <div class="col-3 m-2 mt-4"><button class="btn btn-success btn-enviar">Enviar</button></div>
    </div>




    <div class="contenedor-articulo">

      <div class="articulo anime_inicial">
        <h3>Lorem ipsum dolor sit.</h3>
        <p>Oferecemos diferentes testes laboratoriais indicados para investigação da infecção pelo SARS-CoV-2 (Coronavírus)..</p>
        <a href="">Leia mais</a>
      </div>

      <div class="articulo anime_inicial">

        <h3>Lorem ipsum dolor sit.</h3>
        <p>Hemograma é um exame que avalia as células sanguíneas de um paciente, da série branca e vermelha.</p>
        <a href="">Leia mais</a>

      </div>

      <div class="articulo anime_inicial">
        <h3>Lorem ipsum dolor sit.</h3>
        <p>O exame de glicemia mede a glicose na circulação sanguínea. É necessário estar de 8 a 12 horas de jejum. </p>
        <a href="">Leia mais </a>
      </div>

      <div class="articulo anime_inicial">
        <h3>Lorem ipsum dolor sit.</h3>
        <p>São duas substâncias presentes na corrente sanguínea, que podem ser dosadas através de exames de sangue. </p>
        <a href="#">Leia mais</a>
      </div>

      <div class="articulo anime_inicial">

        <h3>Lorem ipsum dolor sit.</h3>
        <p>O exame de colesterol, ou Perfil Lipídico, determina os níveis de Colesterol Total (CT), Triglicerídeos (TG)</p>
        <a href="#">Leia mais</a>
      </div>



      <div class="articulo anime_inicial">
        <h3>Lorem ipsum dolor sit.</h3>
        <p>Serve para avaliar analisar o hormônio que possa estar em excesso causando o hipertireoidismo ou hipotireoidismo.</p>
        <a href="#">Leia mais</a>

      </div>
    </div>
  </div>
</section>


<footer class=" text-center text-lg-start" style="background-color: rgb(253, 110, 110);">

  <div class="text-center p-3">
    © 2021 Copyright:
    <a class="text-dark" href="">Damaris | Dev@</a>
    <img style="margin-left: 5px;" src="assets/favicon-32x32.png">
  </div>

</footer>
 -->
